<div class="row top-buffer">
  <div class="col-sm-12">
      <ol class="breadcrumb">
          <li><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
          <li>Sistema de Identificación de Ganado</li>
          @for (breadcrumb of breadcrumbs; track $index) {
            <li class="active">
              <span> {{ breadcrumb.label }}</span>
            </li>
          }
      </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-7" id="logotipos">
      <img src="assets/img/logos.png" />
  </div>
  @if (autentificacionService.esAutenticado()) {
    <div class="col-md-5">
      <div class="usuario">
          <p>{{nombre}} <a (click)="salir()" class="pull-right pointer">Salir</a></p>
          <p><strong>Rol:</strong> {{rol}}</p>
      </div>
    </div>
  }
</div>


